{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enType.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ enType.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if enType.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ enType.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ enType.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ enType.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ enType.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ enType.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_entype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_entype_edit', { 'id': enType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
