<!DOCTYPE html>
<html lang="en">
    <head>  
            <meta charset="UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>
                {% block title %}ITPC West Africa{% endblock %}
            </title>
            {% block meta %}
            {% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico')) }}"/>
            {% block stylesheets %}
                <link href="{{ absolute_url(asset('frontend/css/font-awesome.min.css')) }}" rel="stylesheet">
                <link href="{{ absolute_url(asset('frontend/css/flaticon.css')) }}" rel="stylesheet">

                <link href="{{ absolute_url(asset('frontend/css/bootstrap.min.css')) }}" rel="stylesheet">

                <link href="{{ absolute_url(asset('frontend/css/animate.css')) }}" rel="stylesheet">
                <link href="{{ absolute_url(asset('frontend/css/owl.carousel.css')) }}" rel="stylesheet">
                <link href="{{ absolute_url(asset('frontend/css/owl.theme.css')) }}" rel="stylesheet">
                <link href="{{ absolute_url(asset('frontend/css/slick.css')) }}" rel="stylesheet">
                <link href="{{ absolute_url(asset('frontend/css/slick-theme.css')) }}" rel="stylesheet">
                <link href="{{ absolute_url(asset('frontend/css/owl.transitions.css')) }}" rel="stylesheet">
                <link href="{{ absolute_url(asset('frontend/css/jquery.fancybox.css')) }}" rel="stylesheet">
                <link href="{{ absolute_url(asset('frontend/css/bootstrap-select.css')) }}" rel="stylesheet">

                <link href="{{ absolute_url(asset('frontend/css/style.css')) }}" rel="stylesheet">

                <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
                queries -->
                <!--[if lt IE 9]> <script
                src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script
                src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
                <script src='https://www.google.com/recaptcha/api.js'></script>
            {% endblock %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104978409-5"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-104978409-5');
            </script>

    </head>

<body>

    <div class="page-wrapper">

        <div class="preloader"> </div>

        <header id="header" class="site-header header-style-1">
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-6">
                            <ul class="contact-info">
                                <li><i class="fa fa-phone-square"></i> Phone: +225 22 52 99 89</li>
                            </ul>
                        </div>
                        <div class="col col-sm-6">
                            
                                    {% block langue %}
                                    <div class="language">
                                        <span><i class="fa fa-globe"></i> Lang:</span>
                                        <a href="{{ absolute_url(path('english_index'))}}" title="English"><img src="{{ absolute_url(asset('frontend/images/drapeau-en.png')) }}" width="20"></a>
                                        <a href="{{ absolute_url(path('francais_index')) }}" title="French"><img src="{{ absolute_url(asset('frontend/images/drapeau-fr.png')) }}" width="20"></a>
                                    </div>
                                    {% endblock %}
                        </div>
                    </div>
                </div> <!-- end container -->
            </div> <!-- end topbar -->
            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ absolute_url(path('homepage')) }}" class="navbar-brand"><img src="{{ absolute_url(asset('frontend/images/logo-blanc.png')) }}" alt></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                        <button class="close-navbar"><i class="fa fa-close"></i></button>
                        <ul class="nav navbar-nav">
                            <li><a href="{{ absolute_url(path('english_index')) }}">Home</a></li>
                            <li><a href="{{ absolute_url(path('english_news'))}}">News</a></li>
                            <li class="menu-item-has-children">
                                <a href="#">About</a>
                                <ul class="sub-menu">
                                    {{ render(url('english_presentation'))}}
                                </ul>
                            </li>
                            {{ render(url('english_campagne'))}}
                            <li><a href="{{ absolute_url(path('english_ressources'))}}">Resources</a></li>
                            <li><a href="{{ absolute_url(path('english_gallery'))}}">Gallery</a></li>
                            <li><a href="{{ absolute_url(path('english_contact'))}}">Contact</a></li>
                        </ul>
                    </div><!-- end of nav-collapse -->
                    <div class="search-social">
                        <div class="header-search-area">
                            <div class="header-search-form">
                                <form class="form">
                                    <div>
                                        <input type="text" class="form-control" placeholder="Search here">
                                    </div>
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div>
                                <button class="btn open-btn"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- end of container -->
            </nav>
        </header>


        {% block body %}{% endblock %}

        <footer class="site-footer">
            <div class="upper-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-4 col-sm-6">
                            <div class="widget about-widget">
                                <div class="footer-logo"><img src="{{ absolute_url(asset('frontend/images/logo-footer.png')) }}" alt="Logo ITPc West Africa" width=""></div>
                                {{ render(url('english_presentation_footer'))}}
                                <ul class="contact-info">
                                    <li><i class="fa fa-phone"></i> +225 22 52 99 89  </li>
                                    <li><i class="fa fa-envelope"></i> infos@itpcwa.org</li>
                                    <li><i class="fa fa-home"></i> Cocody Angre 7è Tranche vallée, Abidjan-Côte d'Ivoire</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col col-md-2 col-sm-6">
                            <div class="widget support-widget">
                                <h3>Rubriques</h3>
                                <ul>
                                    <li><a href="{{ absolute_url(path('english_news'))}}">News</a></li>
                                    {{ render(url('english_campagne'))}}
                                    <li><a href="{{ absolute_url(path('english_ressources'))}}">Resources</a></li>
                                    <li><a href="{{ absolute_url(path('english_gallery'))}}">Gallery</a></li>
                                    <li><a href="{{ absolute_url(path('english_contact'))}}">Contact</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col col-md-3 col-sm-6">
                            <div class="widget support-widget">
                                <h3>Presentation</h3>
                                <ul>
                                    {{ render(url('english_presentation'))}}
                                </ul>
                            </div>
                        </div>

                        <div class="col col-md-3 col-sm-6">
                            <div class="widget twitter-feed-widget">
                                        <a class="twitter-timeline" data-height="400" data-dnt="true" data-link-color="#E81C4F" href="https://twitter.com/ITPCglobal/likes?ref_src=twsrc%5Etfw">Tweets Liked by @ITPCglobal</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
                                    </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end upper-footer -->
            <div class="copyright-info">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-6">
                            <div class="copyright-area">
                                <p>2018 &copy; ITPC West Africa </p>
                            </div>
                        </div>
                        <div class="col col-xs-6">
                            <div class="footer-social">
                                <span>Follow us: </span>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>        
    </div>



    
{% block javascripts %}
    <script src="{{ absolute_url(asset('frontend/js/jquery.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('frontend/js/bootstrap.min.js')) }}"></script>
    <script
        src="{{ absolute_url(asset('frontend/js/jquery-plugin-collection.js')) }}"></script>
    <script src="{{ absolute_url(asset('frontend/js/script.js')) }}"></script>

    <script>
        (function (d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) 
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4";
            fjs
                .parentNode
                .insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
</body>

</html>
