{% extends 'base.html.twig' %}

{% block title %}{{ actualite.titre }}{% endblock %}

{% block body %}

    <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="{{ absolute_url(path('homepage'))}}">Accueil</a></li>
                            <li><a href="{{ absolute_url(path('francais_actualites'))}}">Actulités</a></li>
                            <li>{{ actualite.titre }}</li>
                        </ol>
                    </div>
                </div> 
            </div> 
        </section> 

    <section class="blog-with-sidebar-section blog-single-content section-padding">
            <div class="container">
                <div class="row">
                    <div class="news-grids col col-lg-8 col-md-8">
                        <div class="post">
                            <div class="post-title-meta">
                                <h2>{{ actualite.titre }} </h2>
                                <img src="{{ absolute_url(asset('/uploads/fr/actualites/'~ actualite.imageName ))}}" alt="{{ actualite.titre }}" class="img-responsive" style="margin-bottom: 20px">
                                <ul class="meta-info">
                                    <li><a href="#">Par: {{ actualite.publiePar|title }}</a></li>
                                    <li><a href="#"><i class="fa fa-clock-o"></i> {{ actualite.publieLe|date('d M Y')}}</a></li>
                                </ul>
                            </div>
                            <div class="post-body">
                                <p class="text-justify">{{ actualite.contenu|raw }}</p>
                                {% if photo %}
                                <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
                                    <div class="col-md-12 push-right">
                                        <a href="#"><h4><i class="fa fa-photo"></i> <em>Voir les photos de l'action</em></h4></a>
                                    </div>
                                </div>
                                {% endif %}
                                
                            </div>
                        </div> <!-- end post -->

                        <div class="tag-share">
                            <div>
                                <span>Mots clés: </span>
                                <ul class="tag">
                                    {% for tag in actualite.tags|split(',')  %}
                                    <li><a href="#">{{ tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <span>Partage:</span>
                            <ul class="share">
                                <li>
                                    <div class="fb-share-button" data-href="{{ absolute_url(path('francais_actualite_article', {'slug': actualite.slug}))}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('francais_actualite_article', {'slug': actualite.slug}))}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                        <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-hashtags="itpc, itpcWestAfrica" data-show-count="true"><i class="fa fa-twitter"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </li>
                            </ul>
                            </div>
                        </div> <!-- end tag-share -->

                        <div class="comments">
                            <div class="fb-comments" data-href="{{ absolute_url(path('francais_actualite_article', {'slug': actualite.slug}))}}" data-width="750" data-numposts="5"></div>

                        </div> <!-- end comments -->
                    </div> <!-- end blog-content -->

                    <div class="blog-sidebar col col-lg-offset-1 col-lg-3 col-md-4 col-sm-5">
                        {{ render(url('francais_menu_droit'))}}
                    </div>                    
                </div>
            </div> <!-- end container -->
        </section>

{% endblock %}


{% block meta %}
    <meta
        name="keywords"
        content="{% for tag in actualite.tags|split(',') %}{{ tag }}, {% endfor %}"/>
    <meta name="description" content="{{ actualite.resume|raw }}"/>
    <meta name="revisit" content="7 days"/>
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="ITPC West Africa, {{ actualite.publiePar|title }}">
    <meta name="Copyright" content="www.itpcwa.org">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global"/>
    <meta name="Audience" content="All"/>
    <meta name="Robots" content="full">

    <link
        rel="canonical"
        href="{{ absolute_url(path('francais_actualite_article', {'slug': actualite.slug}))}}"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="Item"/>
    <meta property="og:title" content="{{ actualite.titre }}"/>
    <meta property="og:description" content="{{ actualite.resume|raw }} "/>
    <meta
        property="og:url"
        content="{{ absolute_url(path('francais_actualite_article', {'slug': actualite.slug}))}}"/>
    <meta property="og:site_name" content="ASCCI"/>
    <meta property="article:section" content="Item"/>
    <meta
        property="article:published_time"
        content="{{ actualite.publieLe|date('Y-m-d')}}T{{ actualite.publieLe|date('H:i:s')}}+00:00"/>
    <meta
        property="article:modified_time"
        content="{{ actualite.modifieLe|date('Y-m-d')}}T{{ actualite.modifieLe|date('H:i:s')}}+00:00"/>
    <meta
        property="og:updated_time"
        content="{{ actualite.modifieLe|date('Y-m-d')}}T{{ actualite.modifieLe|date('H:i:s')}}+00:00"/>
    <meta
        property="og:image"
        content="{{ absolute_url(vich_uploader_asset(actualite, 'imageFile')) }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ actualite.resume|raw }}"/>
    <meta name="twitter:title" content="{{ actualite.titre }}"/>
    <meta name="twitter:domain" content="ASCCI"/>
    <meta
        name="twitter:image:src"
        content="{{ absolute_url(vich_uploader_asset(actualite, 'imageFile')) }}"/>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://itpcwa.org"
            },
            "headline": "{{ actualite.titre }}",
            "image": [
                "{{ absolute_url(vich_uploader_asset(actualite, 'imageFile')) }}", "{{ absolute_url(asset('frontend/images/logo.png'))}}"
            ],
            "datePublished": "{{ actualite.publieLe|date('Y-m-d')}}T{{ actualite.publieLe|date('H:i:s')}}+00" +
                    ":00",
            "dateModified": "{{ actualite.modifieLe|date('Y-m-d')}}T{{ actualite.modifieLe|date('H:i:s')}}+" +
                    "00:00",
            "author": {
                "@type": "Person",
                "name": "Delrodie AMOIKON"
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ actualite.titre }}",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ absolute_url(vich_uploader_asset(actualite, 'imageFile')) }}"
                }
            },
            "description": "{{ actualite.resume|raw }}"
        }
    </script>
{% endblock %}

