{% extends 'base.html.twig' %}

{% block title %}Nos organes{% endblock %}

{% block body %}

    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ absolute_url(path('homepage'))}}">Accueil</a>
                        </li>
                        <li>Presentation</li>
                        <li>Nos organes</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="team-pg-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="team-grids">
                            {% for organe in organes %}
                              <div class="grid" style="height:425px;">
                                <div class="member-pic">
                                   <a href="{{ absolute_url(path('francais_presentation_organe', {'slug': organe.slug })) }}">
                                    <img src="{{ asset('uploads/fr/presentations/'~ organe.imageName) | imagine_filter('biographie') }}" alt="{{ organe.titre }}">
                                   </a>
                                </div>
                                <div class="member-info">
                                    <h4>{{ organe.titre }}</h4>
                                    <!--<span>{{ organe.tags }}</span>-->
                                </div>
                            </div>  
                            {% endfor %}
                        </div>
                    </div>
                </div> <!-- end row -->
                
                    <div class="pagination-wrapper">
                        <ul class="pg-pagination"></ul>
                    </div>
            </div> <!-- end container -->
        </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('frontend/js/pagination.js')) }}"></script>
    <script>
        $(document).ready(function() {
            pagination(9,'.grid','ul.pg-pagination',2);
        });
    </script>
{% endblock %}