{% extends 'backend_layout.html.twig' %}

{% block title %}Enregistrement des utilisateurs{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="page-title">
            <h4 class="mb-0">
                Gestion des utilisateurs
                <small> </small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="{{ path('backend') }}" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">Enregistrement des utilisateurs</li>
            </ol>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="{{ path('admin_user_index') }}" class="btn  btn-light"><i class="fa fa-list"></i> Liste des utilisateurs</a>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header">
                            <div class="card-title">
                                Enregistrement des utilisateurs
                            </div>
                        </div>
                        <div class="card-body">
                            {{ form_start(form, {'attr': {'class': 'right-text-label-form', 'id':'signupForm'}}) }}
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="Partenaire">Nom utilisateur</label>
                                <div class="col-sm-8 select2-container">
                                    {{ form_widget(form.username) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="Partenaire">Email</label>
                                <div class="col-sm-8 select2-container">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="Partenaire">Mot de passe</label>
                                <div class="col-sm-8 select2-container">
                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="Partenaire">Repeter le mot de passe</label>
                                <div class="col-sm-8 select2-container">
                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="Partenaire">Role</label>
                                <div class="col-sm-8 select2-container">
                                    {{ form_widget(form.roles) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5 col-sm-offset-4">.</div>
                                <label class="custom-control custom-checkbox">
                                    {{ form_widget(form.enabled) }}
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Activé</span>
                                </label>
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-group row">
                                <div class="col-sm-5 ml-auto">
                                    <a href="{{ path('admin_user_index') }}" class="btn btn-outline-primary">Annuler</a>
                                    <button class="btn btn-primary" name="signup">Enrgistrer</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
