{% extends 'backend_layout.html.twig' %}

{% block title %}{{ enPresentation.type.libelle }}: {{ enPresentation.titre }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Presentation posts management
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="{{ path('backend') }}" class="default-color">Home</a></li>
                <li class="breadcrumb-item active">Presentation posts</li>
            </ol>
        </div>

        <div class="container-fluid">


            <div class="row mt-5 mb-3">
                <div class="col-md-12 ">
                    <h5 class=" ">{{ enPresentation.type.libelle }}</h5>
                    <p>{{ enPresentation.titre }}</p>
                </div>
            </div>

            <div class="card-deck">
                <div class="card mb-9">
                    <img src="{{ vich_uploader_asset(enPresentation, 'imageFile') }}" alt="{{ enPresentation.titre }}" title="{{ enPresentation.titre }}"  class="card-img-top img-fluid"/>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            {{ enPresentation.contenu|raw }}
                        </p>
                        <a href="{{ path('backend_enpresentation_edit', {'slug': enPresentation.slug}) }}" class="btn btn-outline-danger"><i class="fa fa-edit"></i> Edit</a>
                        <a href="#" class="btn btn-outline-primary"><i class="fa fa-eye"></i> Visitor overview</a>
                        <a href="{{ path('backend_enpresentation_index') }}" class="btn btn-outline-secondary"><i class="fa fa-list"></i> Presentation posts list</a>
                        <div class="form-group row">
                            <div class="col-sm-3 col-sm-offset-8 ml-auto">
                                {{ form_start(delete_form, {'attr': {'onsubmit': "return confirm('Are you really want to delete this post?');"}}) }}
                                <input type="submit" value="Delete" class="btn btn-danger">
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            MOTS CLES :
                            {% for tag in enPresentation.tags|split(',') %}
                                <a href="#" class="btn-sm btn-outline-secondary">#{{ tag }}</a>
                            {% endfor %}

                        </small>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}


