{% extends 'base_en.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}

    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ absolute_url(path('english_index'))}}">Home</a>
                        </li>
                        <li>News</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-with-sidebar-section section-padding">
        <div class="container">
            <div class="row">
                <div class="news-grids col col-lg-8 col-md-8">
                    {% for actualite in actualites %}
                      <div class="grid">
                        <div class="entry-media">
                            <img src="{{ asset('uploads/en/news/'~ actualite.imageName) | imagine_filter('actualites') }}" alt="{{ actualite.titre }}">
                        </div>
                        <div class="entry-body" style="height: 265px; overflow-y: auto;">
                            <div class="entry-header">
                                <span class="date">{{ actualite.publieLe|date('d M Y')}}</span>
                                <h3>
                                    <a href="{{ absolute_url(path('english_new_article', {'slug': actualite.slug }))}}">{{ actualite.titre }}</a>
                                </h3>
                            </div>
                            <div class="entry-details" style="word-break: all; word-wrap: 10px;">
                                <p class="text-justify">{{ actualite.resume|raw }}</p>
                            </div>
                            <div class="entry-meta">
                                <a href="{{ absolute_url(path('english_new_article', {'slug': actualite.slug }))}}" class="read-more">Read more</a>
                            </div>
                        </div>
                    </div>  
                    {% endfor %}
                    <div class="pagination-wrapper">
                        <ul class="pg-pagination"></ul>
                    </div>
                </div>
                <!-- end blog-content -->

                <div class="blog-sidebar col col-lg-offset-1 col-lg-3 col-md-4 col-sm-5">
                    {{ render(url('english_menu_droit'))}}
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('frontend/js/pagination.js')) }}"></script>
    <script>
        (function (d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) 
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4";
            fjs
                .parentNode
                .insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        $(document).ready(function() {
            pagination(6,'.grid','ul.pg-pagination',2);
        });
    </script>
{% endblock %}

{% block langue %}
    <div class="language">
        <span>
            <i class="fa fa-globe"></i>
            Lang:</span>
        <a href="{{ absolute_url(path('english_news'))}}" title="English"><img
            src="{{ absolute_url(asset('frontend/images/drapeau-en.png')) }}"
            width="20"></a>
        <a href="{{ absolute_url(path('francais_actualites')) }}" title="French"><img
            src="{{ absolute_url(asset('frontend/images/drapeau-fr.png')) }}"
            width="20"></a>
    </div>
{% endblock %}