{% extends 'base_en.html.twig' %}

{% block title %}Resources
{% endblock %}

{% block body %}

    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ absolute_url(path('english_index'))}}">Home</a>
                        </li>
                        <li>Resources</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-with-sidebar-section blog-list section-padding">
        <div class="container">
            <div class="row">
                <div class="news-grids col col-lg-8 col-md-8">
                        {% for ressource in ressources %}
                         <div class="grid">
                            <div class="entry-media">
                                <img src="{{ asset('uploads/en/resources/pictures/'~ ressource.imageName) | imagine_filter('ressource') }}" alt="{{ ressource.titre }}">
                            </div>
                            <div class="entry-body">
                                <div class="entry-header">
                                    <span class="date">{{ ressource.publieLe|date('d M Y')}}</span>
                                    <h3>
                                        <a href="{{ absolute_url(asset('/uploads/en/resources/brochures/'~ ressource.brochureName))}}" target="_blank" >
                                            {{ ressource.titre }}
                                        </a>
                                    </h3>
                                </div>
                                <div class="entry-details">
                                    <p>{{ ressource.description }}</p>
                                </div>
                                <div class="entry-meta">
                                    <a href="{{ absolute_url(asset('/uploads/en/resources/brochures/'~ ressource.brochureName))}}" target="_blank" class="read-more">
                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download the file
                                    </a>
                                </div>
                            </div>
                        </div>   
                        {% endfor %}
                        <div class="pagination-wrapper">
                            <ul class="pg-pagination"></ul>
                        </div>                
                    </div>
                <!-- end blog-content -->

                <div class="blog-sidebar col col-lg-offset-1 col-lg-3 col-md-4 col-sm-5">
                    {{ render(url('english_menu_droit'))}}
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('frontend/js/pagination.js')) }}"></script>
    <script>
        $(document).ready(function() {
            pagination(6,'.grid','ul.pg-pagination',2);
        });
    </script>
{% endblock %}

{% block langue %}
    <div class="language">
        <span>
            <i class="fa fa-globe"></i>
            Lang:</span>
        <a href="{{ absolute_url(path('english_ressources'))}}" title="English"><img
            src="{{ absolute_url(asset('frontend/images/drapeau-en.png')) }}"
            width="20"></a>
        <a href="{{ absolute_url(path('francais_ressources')) }}" title="French"><img
            src="{{ absolute_url(asset('frontend/images/drapeau-fr.png')) }}"
            width="20"></a>
    </div>
{% endblock %}
