{% extends 'backend_layout.html.twig' %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Gestion des photos
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">liste des photos</li>
            </ol>
        </div>

        <div class="container-fluid">


            <div class="row mt-5 mb-3">
                <div class="col-md-12 text-right">
                    <a href="{{ path('backend_photo_index') }}" class="btn  btn-light"><i class="fa fa-list"></i> Retour à la liste des galerie</a>
                </div>
                <br>
            </div>

            <div class="card-deck">
                {% for photo in photos %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <a href="#" data-toggle="modal" data-target="#exampleModal{{ loop.index }}" data-whatever="@mdo">
                                <!--<img src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.article.titre }}" class="card-img-top img-fluid">-->
                                <img src="{{ asset('/uploads/Galeries/'~ photo.imageName) | imagine_filter('bo_photoarticle_show') }}" alt="{{ photo.titre }}" class="card-img-top img-fluid">
                            </a>
                        </div>
                        <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ photo.titre }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.article.titre }}" class="card-img-top img-fluid">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </main>
{% endblock %}