{% extends 'backend_layout.html.twig' %}

{% block title %}Liste des jobs{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Gestion des jobs
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">liste des jobs</li>
            </ol>
        </div>

        <div class="container-fluid">


            <div class="row mt-5 mb-3">
                <div class="col-md-12 text-right">
                    <a href="{{ path('backend_frjob_new') }}" class="btn  btn-light"><i class="fa fa-plus"></i> Ajouter un job</a>
                </div>
                <br>
            </div>

            <div class="card-deck">
                {% for frJob in frJobs %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4" style="height: 500px; overflow-y: auto;">
                            <div class="card-body">
                                <h5 class="card-title">{{ frJob.titre }}</h5>
                                <p class="card-text">{{ frJob.resume|raw }}</p>
                                <!--<a href="#" class="btn btn-outline-danger">Apperçu</a>-->
                                <br>
                                <p>Date d'echeance: <em style="color: red; font-weight: bold;">{{ frJob.datefin|date('d M Y') }}</em> </p>
                                <a href="{{ path('backend_frjob_show', {'slug': frJob.slug}) }}" class="btn btn-outline-primary">> Lire la suite</a>
                                {% if (frJob.statut) %}
                                    <a href="#" class="btn btn-success" title="Actif"><i class="fa fa-check-square-o"></i> </a>
                                {% else %}
                                    <a href="#" class="btn btn-danger" title="Desactivé"><i class="fa fa-chain-broken"></i> </a>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Publié le {{ frJob.publieLe|date('d-m-Y H:i:s') }} par {{ frJob.publiePar }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </main>
{% endblock %}